*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Background{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.topography-shape{
    width: 100%;
    height: 100%;
}

.MainContent{
    top: -10%;
    width: 40%;
    height: 65%;
    max-height: 750px;
    padding: 40px;

    background: rgba(139, 139, 139, 0.356);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.InputsContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.InputsContents .NameInput{
    width: 100%;
}

.InputsContents .NameInput, .InputsContents .ContentItens{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid transparent;
}

.ButtonsInputs{
    margin-top: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.InputsContents .ContentItens{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    cursor: pointer;
}

.ContentItens a{
    text-decoration: none;
    color: black;
}

.InputsContents .ContentItens img{
    width: 30px;
    height: 30px;
}

#ShareImage{
    width: 27px;
    height: 27px; 
}



.ContentCanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    overflow: hidden;
}



.ContentCanvas img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
}

.ContentCanvas h1{
    position: absolute;
    top: 80%;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    color: #42DE69;
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 1.1px black;
    letter-spacing: 2px;
}




@media(max-width: 1350px){
    .MainContent{
        width: 50%;
        height: 65%;
        max-height: 650px;
        padding: 40px;
    }

    .ButtonsInputs{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .ContentCanvas h1{
        top:77%;
        font-size: 22px;
    }

    .InputsContents .ContentItens{
        width: 50%;
        padding: 6px;
    }

    .ContentCanvas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85%;
        overflow: hidden;
    }

    .ContentCanvas h1{
        top:80%;
        font-size: 25px;
        -webkit-text-stroke: 1px black;
    }
}

@media(max-width: 1024px){
    .MainContent{
        width: 50%;
        height: 65%;
        max-height: 550px;
        padding: 40px;
    }

    .ButtonsInputs{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .botaoDownload, .ImageShare{
        padding: 6px;
    }

    .ContentCanvas{
        height: 80%;
    }
    .ContentCanvas h1{
        top:80%;
        font-size: 20px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media(max-width: 845px){
    .MainContent{
        width: 70%;
        height: 65%;
        max-height: 550px;
        padding: 40px;
    }
    
    .InputsContents .NameInput{
        padding: 8px;
        border-radius: 10px;
        font-size: 18px;
    }
    .botaoDownload, .ImageShare{
        font-size: 16px;
    }

    #ImageDownloaad, #ShareImage{
        display: flex;
        width: 27px;
        height: 27px;
    }
    #ShareImage{
        width: 23px;
        height: 23px;
    }

    .ContentCanvas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        overflow: hidden;
    }
    .ContentCanvas h1{
        top:80%;
        font-size: 18px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media(max-width: 755px){
    

    .botaoDownload, .ImageShare{
        padding: 6px;
        font-size: 16px;
    }

    #ImageDownloaad, #ShareImage{
        display: flex;
        width: 25px;
        height: 25px;
    }
    #ShareImage{
        width: 22px;
        height: 22px;
    }
    
}

@media(max-width: 680px){
    .MainContent{
        max-height: 450px;
        padding: 20px;
    }

    .botaoDownload, .ImageShare{
        padding: 4px;

    }
    
    .ContentCanvas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 77%;
        overflow: hidden;
    }

    .ContentCanvas h1{
        top:80%;
        font-size: 18px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media(max-width: 600px){
    .MainContent{
        width: 70%;
        height: 65%;
        max-height: 400px;
        padding: 20px;
    }
    
    #ImageDownloaad, #ShareImage{
        display: flex;
        width: 20px;
        height: 20px;
    }
    #ShareImage{
        width: 18px;
        height: 18px;
    }
    

    .ContentCanvas h1{
        top:83%;
        font-size: 16px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media(max-width: 460px){
    .MainContent{
        width: 80%;
        height: 55%;
        padding: 20px;
    }

    .InputsContents{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

    .ButtonsInputs{
        margin-top: 0px;
        justify-content: right;
    }

    #ImageDownloaad, #ShareImage{
        display: flex;
        width: 25px;
        height: 25px;
    }

    #ShareImage{
        padding: 3px;
    }

    .botaoDownload, .ImageShare{
        display: none;
    }

    .InputsContents .NameInput{
        width: 100%;
    }

    .ContentCanvas{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85%;
        overflow: hidden;
    }

    .ContentCanvas h1{
        top:77%;
        font-size: 16px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media (max-width: 425px){
    .MainContent{
        width: 70%;
        height: 70%;
        max-height: 400px;
        padding: 20px;
    }


    .ContentCanvas{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 88%;
        overflow: hidden;
    }

    .ContentCanvas h1{
        top:77%;
        font-size: 15px;
        -webkit-text-stroke: 0.6px black;
    }
}

@media (max-width: 320px){

    .MainContent{
        width: 80%;
        height: 50%;
        max-height: 300px;
        padding: 20px;
    }

    .ContentCanvas{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 85%;
        overflow: hidden;
    }

    .ContentCanvas h1{
        top:80%;
        font-size: 12px;
        -webkit-text-stroke: 0.6px black;
    }
}
