*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Background{
    position: absolute;
    width: 100%;
    height: 100%;
}

.topography-shape{
    width: 100%;
    height: 100%;
}

.MainContent{

    width: 35%;
    height: 70%;
    padding: 40px;

    background: rgba(139, 139, 139, 0.356);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.InputsContents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.InputsContents .NameInput{
    width: 30%;
}

.InputsContents .NameInput, .InputsContents .ContentItens{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid transparent;
}

.InputsContents .ContentItens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    background-color: white;
    cursor: pointer;
}

.ContentItens a{
    text-decoration: none;
    color: black;
}

.InputsContents .ContentItens img{
    width: 30px;
    height: 30px;
}

#ShareImage{
    width: 27px;
    height: 27px; 
}


.ContentCanvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    overflow: hidden;
}



.ContentCanvas img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
}

.ContentCanvas h1{
    position: absolute;
    top: 75%;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    color: #42DE69;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: 1.1px black;
    letter-spacing: 2px;
}
